/****************************************************************************/
/****************************************************************************/
#wrapper {
  width: 100%;
  padding-bottom: 0;
}
#masthead {
  margin: 0 auto;
  width: 960px;
}
main {
  font-size: 16px;
  font-size: 1rem;
}
main .container a[rel="external"]:after {
  content: "\00A0\00BB";
  /* nbsp raquo */
  white-space: nowrap;
}
.container {
  zoom: 1;
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
.container:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.heading-primary {
 font-size: 50px;
  font-size: 3.125rem;
}
.heading-secondary {
  font-size: 36px;
  font-size: 2.25rem;
}
.heading-tertiary {
  font-size: 28px;
  font-size: 1.75rem;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  text-align: center;
  font-family: 'Open Sans Light', X-LocaleSpecific-Light, 'Open Sans', X-LocaleSpecific, sans-serif;
  font-weight: normal;
  text-shadow: none;
  line-height: 1.2;
  margin-bottom: .5em;
}
html[lang^="en"] #powered-by {
  text-transform: uppercase;
  font-size: 10px;
  font-size: 0.625rem;
}
#step1 {
  background: #f5f5f5;
  padding: 24px;
  float: center;
}
#step1 p {
  color: #85949f;
}
#step1 li {
  margin: 2px;
  margin-left: 3em;
}
#step2 {
  background: #E0E0E0;
  padding: 24px;
  float: center;
}
#step2 p {
  color: #85949f;
}
#step2 li {
  margin: 2px;
  margin-left: 3em;
}
#step3 {
  background: #f5f5f5;
  padding: 24px;
  float: center;
}
#step3 p {
  color: #85949f;
}
#step3 li {
  margin: 2px;
  margin-left: 3em;
}
#step4 {
  background: #E0E0E0;
  padding: 24px;
  float: center;
}
#step4 p {
  color: #85949f;
}
#step4 li {
  margin: 2px;
  margin-left: 3em;
}
#step5 {
  background: #f5f5f5;
  padding: 24px;
  float: center;
}
#step5 p {
  color: #85949f;
}
#step5 li {
  margin: 2px;
  margin-left: 3em;
}
#step6 {
  background: #E0E0E0;
  padding: 24px;
  float: center;
}
#step6 p {
  color: #85949f;
}
#step6 li {
  margin: 2px;
  margin-left: 3em;
}
#step7 {
  background: #f5f5f5;
  padding: 24px;
  float: center;
}
#step7 p {
  color: #85949f;
}
#step7 li {
  margin: 2px;
  margin-left: 3em;
}
#laststep {
  padding: 24px;
  float: center;
}
#laststep li {
  margin: 2px;
  margin-left: 3em;
}
.container {
    max-width: 600px;
}


.heading-primary {
    text-align: center;
}
.heading-secondary{
    text-align: center;
 }
.heading-tertiary {
    text-align: center;
}

