#site-header {
	background-color: #F5F5F5;

	.site-logo {
		padding: 10px 0px;

		img {
			display: inline;
			max-height: 62px;
		}
	}
}

.banner {
	position: relative;
	background: url(../img/banner.jpg) no-repeat center center /cover;
	text-align: center;
	padding: 85px 0;
	color: #fff;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.34);
	}
}
