mixin header

	header(id="site-header")
		div(class="container")
			div(id="tabzilla")
				a(href="https://www.mozilla.org/") Mozilla
			
			div(class="site-logo")
				a(href="index.html")
					img(src="assets/img/mozilla_wordmark.png")

	div(class="banner")
		div(class="container")
			div(class="row")
				div(class="col-md-12")
					h1 Welcome to the <strong>Firefox Onramp</strong>
					h3 Change the code, change the world
					p(class="m-b-0") It has never been easier to get involved with Mozilla and the Firefox codebase. In an hour<br> you can be building the future with us. Choose your platform.